html{
    box-sizing: border-box;
    font-family: 'Arial';
    background-color: black;
    color: white;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.colored{
    color: red;
    
}

ul li{
    margin: 10px;
    padding: 10px 0px 10px 10px;
}