html{
    box-sizing: border-box;
    font-family: 'Arial';
    background-color: black;
    color: white;
}

*, *:before, *:after{
    box-sizing: inherit;
}

#fail{
    border: 5px solid white;
    padding: 0px 0px 0px 10px;
}

button{
    border-radius: 10px;
    background-color: grey;
    color: white;
    transition: 0.3s;
}

button:hover{
    background: url("https://cdn.britannica.com/84/200584-050-7EC3F3F6/Jim-Carrey-2012.jpg?w=400&h=300&c=crop");
    background-color: white;
    color: black;
    width: fit-content;
    height: 250px;
}