html{
    box-sizing: border-box;
    font-family: 'Arial';
    background-color: grey;
    color: black;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.question{
    color: darkgreen;
}

.answer{
    color: maroon;
}